/* dimensionner la page et le squelette DEBUT */
*{
	font-family: cursive, Arial, Helvetica, sans-serif;
	box-sizing: border-box;
	margin: 0;
	font-size: 1.1em;
}
body{
	min-height: 100vh;
	padding: 20px 0px 0px 20px;
}
body,main, section, footer{
	display: flex;
}
body, main, footer{
	flex-direction: column;
}
main{
	flex:5;
	margin-top: 5px;
	border-bottom: 5px solid black;
	border-radius: 0px 0px 10px 10px;
}footer{
	flex:1;
}
section{
	flex: 1;
	flex-direction: column;
	background-image: url('https://s2.qwant.com/thumbr/0x380/e/c/360fdc142cacddbbd42bd549fe732dcf98bb01932f0c9ff181200820aee006/fotolia_69963350_m_opt.jpg?u=https%3A%2F%2Fwww.pointecoalsace.fr%2Fdynamic%2Fimages%2Fn_13%2Ffotolia_69963350_m_opt.jpg&q=0&b=1&p=0&a=1');
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 0px;
	
	background-size: 100%;
}h2 + p, section{
	align-self: center;
	border-left: 3px solid black;
		border-radius: 10px 0px 0px 10px;
}
img{
	margin: auto;
	border-radius: 20px;
}
#menu{
	font-size: 30px;
	position: fixed;
		top: 0px;
		left: 0px;
}
/* dimensionner la page et le squelette FIN */

